/** Application Colors */
$primary-color: #00539c;
$secondary-color: #FFD662;
$accent-color: #FFFFFF;
/** Alert Colors */
$error-color: #F44336;
$success-color: #04AA6D;
$info-color: #2196F3;
$warning-color: #ff9800;